{% extends 'tracker/base.html' %}

{% block content %}

<div class="d-flex justify-content-between mb-4">

    <h2>Applications</h2>

    <a href="{% url 'application_create' %}"
       class="btn btn-primary">

        Add Application

    </a>

</div>

<div class="card p-3">

<table class="table table-dark table-hover">

    <thead>

        <tr>
            <th>Company</th>
            <th>Position</th>
            <th>Status</th>
            <th>Source</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>

    </thead>

    <tbody>

        {% for app in applications %}

        <tr>

            <td>{{ app.company }}</td>

            <td>{{ app.position }}</td>

            <td>

                {% if app.status == 'Applied' %}
                <span class="badge bg-primary">Applied</span>

                {% elif app.status == 'Interview' %}
                <span class="badge bg-warning text-dark">Interview</span>

                {% elif app.status == 'Offer' %}
                <span class="badge bg-success">Offer</span>

                {% elif app.status == 'Rejected' %}
                <span class="badge bg-danger">Rejected</span>

                {% else %}
                <span class="badge bg-secondary">
                {{ app.status }}
                </span>

                {% endif %}

            </td>

            <td>{{ app.source }}</td>

            <td>{{ app.applied_date }}</td>

            <td>

                <a href="{% url 'application_update' app.id %}"
                class="btn btn-sm btn-warning">

                    Edit

                </a>

                <a href="{% url 'application_delete' app.id %}"
                class="btn btn-sm btn-danger">

                    Delete

                </a>

            </td>

        </tr>

        {% empty %}

        <tr>

            <td colspan="5">

                No applications added yet.

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

</div>

{% endblock %}