{% extends 'tracker/base.html' %}

{% block content %}

{% if today_interviews %}
    <div class="alert alert-warning">
        You have
        {{ today_interviews.count }}
        interview(s) scheduled today.
    </div>
{% endif %}

<div class="row mb-4">

    <div class="col-md-2 mb-2">
        <div class="card p-3">
            <h6>Total Applications</h6>
            <h2>{{ total_applications }}</h2>
        </div>
    </div>

    <div class="col-md-2 mb-2">
        <div class="card p-3">
            <h6>Applied</h6>
            <h2>{{ applied }}</h2>
        </div>
    </div>

    <div class="col-md-2 mb-2">
        <div class="card p-3">
            <h6>Interviews</h6>
            <h2>{{ interviews }}</h2>
        </div>
    </div>

    <div class="col-md-2 mb-2">
        <div class="card p-3">
            <h6>Offers</h6>
            <h2>{{ offers }}</h2>
        </div>
    </div>
    <div class="col-md-2 mb-2">
        <div class="card p-3">
            <h6>Rejections</h6>
            <h2>{{ rejections }}</h2>
        </div>
    </div>
    <div class="col-md-2 mb-2">
        <div class="card p-3">
            <h6>Success Rate</h6>
            <h2>{{ success_rate }}%</h2>
        </div>
    </div>

</div>

<div class="row mt-4">

    <div class="col-md-6">

        <div class="card p-3 mb-4">

            <h5>Applications by Status</h5>
            <div style="height:250px;">
                <canvas id="statusChart"></canvas>
            </div>
        </div>

        {% if upcoming_interviews %}

        <div class="card mb-4">

            <div class="card-body">

                <h5 class="mb-3">

                    Upcoming Interviews

                </h5>

                <div class="table-responsive">

                    <table class="table table-dark">

                        <thead>

                            <tr>

                                <th>Company</th>
                                <th>Position</th>
                                <th>Date</th>
                                <th>Time</th>

                            </tr>

                        </thead>

                        <tbody>

                            {% for interview in upcoming_interviews %}

                            <tr>

                                <td>

                                    {{ interview.company }}

                                </td>

                                <td>

                                    {{ interview.position }}

                                </td>

                                <td>

                                    {{ interview.interview_date }}

                                </td>

                                <td>

                                    {{ interview.interview_time|default:"-" }}

                                </td>

                            </tr>

                            {% endfor %}

                        </tbody>

                    </table>

                </div>

            </div>

        </div>

        {% endif %}
        
    </div>

    <div class="col-lg-6">
        
        <div class="card p-3 mb-3">

            <h5>Applications by Source</h5>
            <div>
                <canvas id="sourceChart"></canvas>
            </div>
        </div>
        <!-- Recent Applications Card -->
        <div class="card p-4">

            <h4 class="mb-3">

                Recent Applications

            </h4>

            <table class="table table-dark">

                <thead>

                    <tr>

                        <th>Company</th>
                        <th>Position</th>
                        <th>Status</th>
                        <th>Interview Date</th>

                    </tr>

                </thead>

                <tbody>

                    {% for app in recent_applications %}

                    <tr>

                        <td>{{ app.company }}</td>

                        <td>{{ app.position }}</td>

                        <td>{{ app.status }}</td>

                        <td>

                            {% if app.interview_date %}

                                {{ app.interview_date }}

                            {% else %}

                                -

                            {% endif %}

                        </td>

                    </tr>

                    {% empty %}

                    <tr>

                        <td colspan="4">

                            No applications yet.

                        </td>

                    </tr>

                    {% endfor %}

                </tbody>

            </table>

        </div>
    </div>

</div>




<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
const statusLabels = JSON.parse(
    '{{ status_labels|escapejs }}'
);

const statusData = JSON.parse(
    '{{ status_data|escapejs }}'
);

const sourceLabels = JSON.parse(
    '{{ source_labels|escapejs }}'
);

const sourceData = JSON.parse(
    '{{ source_data|escapejs }}'
);

const statusChart = new Chart(
    document.getElementById('statusChart'),
    {
        type: 'pie',
        data: {
            labels:  statusLabels,
            datasets: [{
                data: statusData,
            }]
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    position: 'right'
                }
            }
        }
    }
);

const sourceChart = new Chart(
    document.getElementById('sourceChart'),
    {
        type: 'bar',
        data: {
            labels: sourceLabels,
            datasets: [{
                label: 'Applications',
                data: sourceData
            }]
        }
    }
);

</script>
{% endblock %}